[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "PPL"]
	path = PPL
	url = https://github.com/1090MHz/PPL.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "PreflightCheckLibs"]
	path = PreflightCheckLibs
	url = https://github.com/1090MHz/PreflightCheckLibs.git
[submodule "IconFontCppHeaders"]
	path = IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
