[submodule "SDK"]
	path = SDK
	url = https://github.com/philippMuenzel/SDK.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "PPL"]
	path = PPL
	url = https://github.com/1090MHz/PPL.git
